@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


/*

nav:1.5rem;

*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    line-height: 2.3rem;
}

body{
    background-color: #141414;
}

a{
    text-decoration: none;
    display: block;
}

li{
    list-style: none;
    
}


/* ######### utility ############ */

.off-white{
    color: #e5e5e5;
}

.red{
    color: #e50914;
}

/* ############# header ########## */

.header{
    height: 110vh;
    background: linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0)),url('http://occ-0-2186-2164.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABX7nK5rzly6om9Sy3x-XDprk8Icug2cOY8t3OUcQVmNuybGTM7-iV6-vLWrdEW4ZduIUEQfj-6w9VrsCUFu3gHAT-RcvQUP25OHK.webp?r=2bc') ;
    background-size: cover;
    position: relative;
}


/* ########## navbar ################ */

.header .navbar{

    border: 2px solid;
    font-size: 1.5rem;
    display: flex;
    height: 68px;
    justify-content: space-between;
    padding: 0.5rem 8rem;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,0));
}


/* ############# left ########## */

.header .navbar .left{
    border: 2px solid red;
    display: flex;
    width: 100%;
}
 
/* logo  */

.header .navbar .left .logo{
    /* border: 2px solid blue; */

    height: 100%;
    margin-right: 3rem;
}

/* logo-img  */

.header .navbar .left .logo img{
    height: 100%;
}

/* UL Container  */

.left .menu-items{
    width: 100%;
}

/* UL */

.menu-items .items{
    width: 100%;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    height: 100%;
}

/* li  */

.menu-items .items .item{
    /* border: 2px solid; */
    margin-right: 2rem;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

.menu-items .items .item:hover{
    opacity: .7;
    
}



/* ############## Right ########### */

.navbar .right{
    /* border: 2px solid green; */
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* All divs  */

.navbar .right div{
    margin-left: 3rem;
    /* border: 2px solid red; */
    font-size: 2.3rem;
}

/* Profile  */

.navbar .right .profile-image{
    height: 80%;
    border-radius: 8px;

}

.navbar .right .profile-image img{
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* ############ bill-board ######## */

.bill-board{
    /* border:2px solid; */
    width: 40%;
    font-size: 1.5rem;
    padding: 5rem;
    background: linear-gradient(rgba(0,0,0,.02),rgba(0,0,0,0));
    position: absolute;
    top:100px;
}

.bill-board .image{
    margin-bottom: 2rem;
}



/* img */

.bill-board img{
    width: 100%;
}

/* text  */

.bill-board .text{
    margin-bottom: 2rem;
    color: white;
    font-size: 1.8rem;
}


/* buttons  */
.bill-board .buttons{
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    height: 50px;
}


/* btn  */

.bill-board .buttons .btn{
    /* border: 2px solid white; */
    display: flex;
    margin-right: 1rem;
    color: white;
    padding: 0.6rem 3rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 100%;
    font-weight: 700;
    font-size: 2rem;
    /* z-index: 15; */
    
    
}


/* btn i  */

.bill-board .buttons .btn i{
    margin-right: 1rem;
}

.bill-board .buttons .more-info i{
    border: 3px solid white;
    font-size: 1.4rem;
    padding: 0.4rem 0.9rem;
    border-radius: 50%;
    
}
.bill-board .buttons .play i{
    font-size: 3rem;
}

.bill-board .buttons .play{
    /* background-color: #e5e5e5; */
    background-color: white;
    color: black;
}

.bill-board .buttons .play:hover{
    
    opacity: .6;
}



.bill-board .buttons .more-info{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;

}

.bill-board .buttons .more-info:hover{
    /* background: linear-gradient(rgba(109, 109, 110, 0.6),rgba(109, 109, 110, 0.6)); */
    opacity: .6;
}


/* ########## new -releases ########### */

/* new-releases */

.header .new-releases{
    /* border:2px solid white; */
    position: absolute;
    height: 200px;
    width:100%;
    bottom: -20px;
    padding: 0.5rem 0 0.5rem 5rem;
    /* background-color: #141414; */
    background:linear-gradient(0deg,#141414,#14141400);
    
}

/* h3 */
.header .new-releases h3{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}




.header .new-releases .boxes{
    /* border: 2px solid yellow; */
    height: 150px;
    display: flex;
    background: #1414145e;
    
}

/* box  */

.header .new-releases .boxes .img-box{

    /* border:2px solid red; */
    height: 90%;
    margin-right: 1rem;
    width:360px;
    border-radius: 3px;
}


/* img  */

.header .new-releases .boxes .img-box img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
}


/* ############# main ############## */

.main{
    /* border:2px solid white; */
    padding:2.5rem 1rem 2.5rem 5rem ;

}

.main section{
    /* border: 2px solid yellow; */
    height: 200px;
    margin-bottom: 2.5rem;
    padding: 0.5rem 0rem;
}

.main section h3{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}


.main .boxes{
    /* border: 2px solid red; */
    height: 150px;
    display: flex;
}

.main .boxes .img-box{
     /* border:2px solid blue; */
     height: 90%;
     margin-right: 1rem;
     width:360px;
     border-radius: 3px;
}

.main .boxes .img-box img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
}


/* continue watching */

.main .continue-watching .outer{
    width: 70%;
    border: 1.8px solid grey;
    margin: auto;
    margin-top: 0.1rem;
    position: relative;
}

.main .continue-watching .outer .inner{
    position: absolute;
    width:50%;
    border: 1.8px solid #e50914;
    top:-1px;
    left:-1.5px;
}


.main .continue-watching .outer .in1{
    width: 70%;
}

.main .continue-watching .outer .in2{
    width: 30%;
}

.main .continue-watching .outer .in3{
    width: 50%;
}

.main .continue-watching .outer .in4{
    width: 90%;
}


.main .continue-watching .outer .in5{
    width: 10%;
}

.main .continue-watching .outer .in6{
    width: 65%;
}


/* ############## footer ############## */

.footer{
    /* border:2px solid white; */
    color:#808080;
    text-transform: capitalize;

    font-size: 1.3rem;
    font-weight: 300;
    padding: 2rem 5rem;
}

/* foot  */

.footer .foot{
    /* border:2px solid red; */
    padding-left: 22rem;
    padding-top: 2.5rem;
}


/* social-links  */

.footer .foot .social-links{
    /* border:2px solid blue; */
    display: flex;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;

}


/* a  */

.footer .foot .social-links a{
    color: white;
    font-size: 2.2rem;
    display: block;
    margin-right:3rem ;
}




/* ------ lists ------  */

.footer .lists{
    /* border: 2px solid green; */
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.footer .lists li{
    margin-bottom: 1.1rem;
    font-weight: 400;
}

.footer .foot .service-btn{
    /* border:2px solid #808080; */
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.footer .foot .service-btn a{
    display: inline-block;
    border:1px solid #808080;
    font-size: 1.3rem;
    color: #808080;
    padding: 0.3rem 1rem;
    font-weight: 400;
}

.footer .foot .service-btn a:hover{
    color: white;
}

.footer .foot .copy-write{
    font-size: 1.2rem;
}






